<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
	  <div class="container">
	    <h1>Captain Jeffrey Fryar</h1>
	    <p>Captain Fryar is a USCG approved instructor for Launch, OUPV (6 pack)
	    	and 100 Ton Master.</p>
	    <p><a class="btn btn-lg btn-primary" href="" role="button">Learn More &raquo;</a></p>
	  </div>
	</div>

