// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$background-main: #E0F3FF;

body {
	background-color: $background-main
}

/*.navbar {
	height:30px;
	min-height: 30px;

	.navbar-brand {
		padding: 3px;
	}
}*/

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.jumbotron {
	text-align: center;
	height: 250px;
	padding-top: 40px;

	li {
		display: inline-block;
	}

	.middle {
		padding-top: 20px;
	}
}
