<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
       <div class="container">
           <div class="nav-collapse">
                <ul class="nav">
                  <h2><li class="active"><a href="#">Cape Cod Captain</a></li></h2>
                </ul>
            </div><!--/.nav-collapse -->
       </div><!-- container -->
  </div><!-- navbar-inner -->
</div><!--  navbar navbar-fixed-top -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="col-md-3" id="first">
        <%= image_tag("Jeff-Fryar.jpg", :size => '150x200') %>
    </div>
    <div class="col-md-6 middle" id="second">
        <h2>Captain Jeffrey E. Fryar</h2>
        <h4>USCG Master 100 Ton</h4>
        <ul>
            <li>Steam | </li>
            <li>Power | </li>
            <li>Sail | </li>
            <li>Assistance | </li>
            <li>Towing</li>
        </ul>
    </div>
    <div class="col-md-3" id="third">
        <%= image_tag("anchor.jpg", :size => "150x200") %>
    </div>
  </div>
</div>


<!--<div class="header-container">
      <div class="center-block">
        <div class="col-md-3" id="first">
          <%= image_tag("Jeff-Fryar.jpg", :size => '150x200') %>
        </div>
        <div class="col-md-6" id="second">
          <h1>Captain Jeffrey E. Fryar</h1>
          <h2>USCG Master 100 Ton</h2>
          <ul>
            <li>Steam | </li>
            <li>Power | </li>
            <li>Sail | </li>
            <li>Assistance | </li>
            <li>Towing</li>
          </ul>
        </div>
        <div class="col-md-3" id="third">
          <%= image_tag("anchor.jpg", :size => "150x200") %>
        </div>
      </div>
    </div>
    -->