
  <div class="col-sm-3 col-md-2 sidebar">
    <div class="btn-group-vertical" role="group" aria-label="...">    
        <a href='/' type="button" class="btn btn-default">Home</a>
        <a href='gallery' type="button" class="btn btn-default">Gallery</a>
      
<!-- First Dropdown menu -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Instruction
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="learn_in_the_classroom">Classes</a></li>
          <li><a href="learn_in_the_field">On Your Boat</a></li>
          <li><a href="#">Schedule</a></li>
        </ul>
      </div>
<!-- End first dropdown menu -->

<!-- Second Dropdown menu -->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Inspection
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="prepurchase">Prepurchase</a></li>
          <li><a href="decommissioning">Decommissioning</a></li>
          <li><a href="recommissioning">Recommissioning</a></li>
        </ul>
      </div>
      <!-- End second dropdown menu -->

        <a href='delivery' type="button" class="btn btn-default">Delivery</a>
    </div>
  </div>


